<%- include('../partials/header.ejs') %>
<div>
  <h3>Danh sach bai dang</h3>
  <div>
    <table class="table">
      <thead>
        <tr>
          <th>#</th>
          <th>name</th>

          <th>Ngay dang</th>
        </tr>
      </thead>
      <tbody>
        <% posts.docs.forEach((post,index)=>{ %>
        <tr>
          <td><a href="/post/<%=post.id%>"><%=++index%></a> </td>
          <td><%=post.title%></td>
          <td><%=new Date(post.createdAt).toLocaleDateString()%></td>
        </tr>
        <% }) %>
      </tbody>
    </table>
  </div>

  <!-- paging -->
  <nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
      <% if(posts.hasPrevPage){ %>
      <li class="page-item">
        <a class="page-link" href="/user?page=<%=posts.prevPage%>">Previous</a>
      </li>
      <%}else { %>
      <li class="page-item disabled">
        <a class="page-link" href="#">Previous</a>
      </li>
      <% } %> <% for(var i =1; i<= posts.totalPages;i++){ %> <% if(posts.page
      ===(i)) { %>
      <li class="page-item active">
        <a class="page-link" href="/user?page=<%=i%>"><%=i%></a>
      </li>
      <% }else{ %>
      <li class="page-item">
        <a class="page-link" href="/user?page=<%=i%>"><%=i%></a>
      </li>
      <% } %> <% } %> <% if(posts.hasNextPage){ %>
      <li class="page-item">
        <a class="page-link" href="/user?page=<%=posts.nextPage%>">Next</a>
      </li>
      <% }else { %>
      <li class="page-item disabled">
        <a class="page-link" href="/user?page=<%=posts.nextPage%>">Next</a>
      </li>
      <% } %>
    </ul>
  </nav>
  <!--  -->
</div>

<%- include('../partials/footer.ejs') %>
