

<%- include('../partials/header.ejs'); -%>
<div class="container mt-4 mb-4 p-3 ">
  <div class="card p-4">
    <div
      class="image d-flex flex-column justify-content-center align-items-center"
    >
      <button class="btn btn-secondary">
        <img src="<%=userdetail.image.url %>" height="100" width="100" />
      </button>
      <span class="name mt-3"><%=userdetail.userdetailname %></span>
      <span class="idd"><%=userdetail.email%></span>
      <div
        class="d-flex align-items-center gap-2"
      >
        <span class="idd1"><%userdetail._id%></span>
        <span><i class="fa fa-copy"></i></span>
      </div>
      <div
        class="d-flex flex-row justify-content-center align-items-center mt-3"
      >
        <span class="number">1069 <span class="follow">Followers</span></span>
      </div>
      <!-- <div class="d-flex mt-2">
        <button class="btn1 btn-dark">Edit Profile</button>
      </div> -->
    
      <div
        class="gap-3 mt-3 icons d-flex flex-row justify-content-center align-items-center"
      >
        <span><i class="fa fa-twitter"></i></span>
        <span><i class="fa fa-facebook-f"></i></span>
        <span><i class="fa fa-instagram"></i></span>
        <span><i class="fa fa-linkedin"></i></span>
      </div>
      <div class="px-2 rounded mt-4 date">
        <span class="join">Join At: <%=userdetail.createdAt.toLocaleDateString() %></span>
      </div>
    </div>
  </div>
<!-- post gan day -->
  <!-- <p><%=owner%></p>  check owner  -->

  <!-- write Post -->
  <%- include('../write/new.ejs') %>
  <!--  -->
<div>
    <p class='fw-bold'>POST gan da!</p>
    <div>
      <table class="table">
        <thead">
          <tr>
            <th>#</th>
            <th>Titlle</th>
            <th>Description</th>
            <th>Ngay:</th>
             <th>methods</th>
          </tr>
        </thead>
        <tbody>
          <% userdetail.posts.forEach(post=>{ %>
            <tr>
              <th><a href="/cave/<%=post.cave%>"><%=post.title %> </a></th>
              <td><%=post.description %></td>
              <td><%= new Date(post.createdAt).toLocaleDateString()%></td>
              <td><%=post.description %></td>
              <!-- edit and delete  post -->
              <!-- edit :/post/:postId/edit -->
              <td><%if(owner){%> <button><a href="/post/<%=post.id%>/edit">Edit</a></button> 
                <form action="/post/<%=post.id%>?_method=DELETE" method='POST'><button class='btn text-danger' type='submit'>X</button></form>
                <%} %></td>
            </tr>
          <%}) %>
       
        </tbody>
      </table>
    </div>
    </div>
    <!-- review gan day -->

    <div>
      <p class='fw-bold'>Review Gan Day</p>
      <table class='table'>
        <thead>
          <th>#</th>
          <th>Cave</th>
          <th>Noi Dung</th>
          <th>Ngay Tao</th>
        </thead>
        <tbody>
          <% userdetail.reviews.forEach(review=>{ %>
            <tr>
              <th>#</th>
              <td><a href="/cave/<%=review.cave.id%>/review/<%=review._id%>"><%=review.cave.name%></a></td>
              <td><%=review.content%></td>
              <td><%= new Date(review.createdAt).toLocaleDateString()%></td>
            </tr>
      <% }) %>
        
        </tbody>
      </table>
    
    </div>

    <!-- comment -->
    <div>
      <p class='fw-bold'>Comment gan day</p>
      <table class='table'>
        <thead>
          <tr>
            <th>#</th>
            <th>Cave</th>
            <th>Noi dung</th>
            <th>Ngay</th>
          </tr>
        </thead>
        <tbody>
          <% userdetail.comments.forEach(comment=>{%>
            <tr>
              <th>#</th>
              <td><a href="/"><%=comment.cave.name%></a></td>
              <td><%=comment.content%></td>
              <td><%= new Date(comment.createdAt).toLocaleDateString()%></td>
            </tr>
         <% }) %>
        </tbody>
      </table>
    </div>
</div>


</div>
<%- include('../partials/footer.ejs'); -%>
