<!-- 
 user:{ type: mongoose.Schema.Types.ObjectId, ref: "User"},
 wall:{type: mongoose.Schema.Types.ObjectId, ref: "User"},
 content: { type:String},
 comments:[commentSchema],
 likes:[likeItem] -->
    <!--virtual fileUploads  -->
    <!-- virtual comments -->
    <!--  -->
<%- include('../partials/header.ejs') %>
    <div class=''>
        <p style='background:rgb(176, 188, 255)'>
          <a class='btn btn-primary' href="/">Back</a>
            <% if(write.wall._id.toString() != write.user._id.toString()) {%>
            from  <a class='link-primary' href="/user/<%=write.user.id%>/details"> <%=write.user.username%> </a> to 
              <%}%>     
            <a class="link-primary" href="/user/<%=write.wall._id%>/details"
              ><%=write.wall.username%></a
            >
            Ngay: <%= new Date(write.createdAt).toLocaleString()%>
          </p>
          <p style='text-indent: 30px;'><%=write.content%></p>
          <!-- show image -->
          <div class='d-flex flex-wrap'>
              <% write.fileUploads.forEach(image=>{%>
                <img style='width:400px' src="<%=image.filePath%>" alt="">
                <%}) %>
          </div>
          <!-- like and dislike -->
          <div class='p-2'>
            <form action="/write/<%=write._id%>/like?_method=put" method='POST'>
              <input value=true name='like' class='btn' type='submit'><i class="fa-solid fa-thumbs-up"></i></input>
              <%= write.likes.length %>
              <input value=false name='like' class='btn' type='submit'>
              <i style='transform: rotate(180deg)' class="fa-solid fa-thumbs-up"></i>   
             </input>
          
            </form>
        </div>
        
        
          <!-- Show Comment  -->
          <p class='p-2 border-bottom'>Comment:</p>
           <div class='p-2 text-light mt-2'>
            <% write.comments.forEach(comment=>{ %>
              <div style='margin-left:20px' class='border-bottom mb-2'>
                <p><a class='link-primary' href="/user/<%=comment.user.id%>/details"><%=comment.user.username%></a>
                   <p style='text-indent: 30px;font-size: 17px;'><%=comment.content%>  <span style='font-size:14px;opacity:0.5'><%=new Date(comment.createdAt).toLocaleString()%></span></p>
                  </p>
        
              </div>
           <% }) %> 
           </div>
           
           <!--write comment  -->
          <form action="/write/<%=write._id%>?_method=put" method="post">
            <input name='commentInput' class='input my-2' type="text" placeholder="binh luan" />
            <button class='btn btn-success'><i class="fa-solid fa-paper-plane"></i></button>
          </form>
        </div>
    </div>
<%- include('../partials/footer.ejs') %>
